.Main-board {
    display: grid;
    grid-template-rows: 20% 20% 20% 20% 20%;
    height: 50vh;
    width: 50vh;
}

.Main-board-row {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.Main-board-cell-BLACK {
    border-color: antiquewhite;
    border-style: solid;
    border-width: 1px;
    background-color: saddlebrown;
    height: 10vh;
}

.Main-board-cell-WHITE {
    border-color: antiquewhite;
    border-style: solid;
    border-width: 1px;
    background-color: antiquewhite;
    height: 10vh;
}

.Main-board-cell-SELECTED {
    border-color: antiquewhite;
    border-style: solid;
    border-width: 1px;
    background-color: darkslategrey;
    height: 10vh;
}

.Main-board-cell-CURRENT {
    border-color: gold;
    border-style: solid;
    border-width: 3px;
    background-color: darkslategrey;
    height: 10vh;
}