.App {
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header {
  display: flex;
  flex-direction: row;
  text-align: center;
  min-height: 20vh;
  align-items: center;
  margin: 0% 2%;
}

.App-header a {
  padding-right: 2%;
}

.App-main {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
  align-items: center;
}

.App-link {
  color: #61dafb;
}
